<!DOCTYPE html>
<html lang="hu">
    <head>
        <title>
            Mordor science-Az elmélet
        </title>
        <link rel="stylesheet" href="style.css" />
        <script type="text/javascript">
            /* Javascript, ha kell. */
        </script>
        <meta charset="utf-8" />
    </head>
    <body>
        <div id="head"></div>
        <div id="menu">
        <div id="mbox">
            <a href="index.html"><div id="logo">           

            </div></a>
            <a href="index.html"><h1 id="cim">Mordor science</h1></a>
            <div id="quadrobox">
                <div id="first">
                    <a href="kapcsolat.html"><p>Kapcsolat</p></a>
                </div>
                <div id="second">
                    <a href="elmelet.html"><p>Az elmélet</p></a>
                </div>
                <div id="third">
                    <a href="index.html"><p>Főoldal</p></a>
                </div>
            </div>

        </div>



        </div>
       
        <div id="tartalom">
            <h1>A megfigyelés művészete</h1>
            <h2>Definiáljuk látásunkkal a mozgást</h2>
            <p>
                    Teljesen elfogadott tény, hogy más tárgyak mozgását a szemünk, és az agyunk
                     segítségével dolgozzuk fel. Oké de ezt minek mondom el, ha ennyire egyértelmű?
                      Azért, mert már óvoda óta birtokában vagy az animáció titkainak mégis ismeretlen témaként kezeled azt. 
                    Nem hiszed el? A nyúl és a teknős meséje megvan? Valami dereng igaz?
                    <br><br>
                    A nyúl és a teknős meséjében a nyúl és a teknős futóversenyt rendeznek és a 
                    teknős egy csellel meg is nyeri azt. A következőképp….
                    <br><br>
                    A teknős a testvérét állítja a rajthoz ő pedig a célban vár. Mivel ugyanúgy
                     néznek ki a nyúl azt gondolja a teknős lefutotta a távot és észrevétlenül 
                     megelőzve célba ért. Tehát lényegében egyik teknős sem futott, de a nyúl 
                     mozgásként dolgozta azt fel.
                    Tanulság: ha két vagy több tárgy, ami külsőre teljesen megegyezik, de 
                    különböző koordinátákon vagy különböző pozícióban helyezkedik el, és én
                     ebből a tárgyból egyszerre csak egyet látok, akkor úgy érzékelem mintha
                      1 tárgy mozgott volna.
                      <br><br>
                    Ne aggódjunk amiatt, ha túl nagy a koordináta vagy pozíció váltás ugyan
                     darabosnak tűnik, de az agyunk mozgásként dolgozza fel. Jöhet a kérdés 
                     miért teszi ezt. A válasz egyszerű a fals információ is jobb a feldolgozhatatlannál.
                       Bebizonyítom, a kezdőlapi animációban az emberünk sosem mozdult csak 2 különböző embert
                        mutattam gyorsan váltakozva.
                        <br>
                    


            </p>
            <div id="embör">
                <img src="embörk1.png"></img>
                <img src="embörk2.png"></img>
            </div>
            
            <p>
                Ha az új információkkal felvértezve átgondoljuk a látottakat 
                akkor rájövünk, hogy a mozgás észlelése hiányos információk 
                összessége. Javaslom, ha ilyesmiben gondolkodunk először készítsünk
                 mobilunkkal pár nagyon hasonló képet majd lapozzuk gyorsan végig.
                  Mozgásként fogjuk érzékelni, ha ezzel teljesen tisztában vagyunk,
                   bármilyen célprogrammal gyorsan megtanulhatunk animációkat készíteni.
                   <br><br>
                   Köszönöm a figyelmet.



            </p>
            <br><br>
        </div>


       
        
    </body>
</html>